<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">

	<!-- @Controller annotation applied class loading automatically -->
	<context:component-scan base-package="com.mobilepark.doit5">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="assignable" expression="org.springframework.web.servlet.view.AbstractView"/>
	</context:component-scan>
	
	<!-- Annotation을 이용한 Transaction 정의 -->
	<tx:annotation-driven />

	<!-- Annotation 기반의 설정을 지원하기 위함 (@Autowired ...) -->
	<context:annotation-config />

	<!-- 메세지 번들 설정 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>

	<bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
		<constructor-arg>
			<ref bean="messageSource" />
		</constructor-arg>
	</bean>
	
	<!-- 다운로드 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="0"/>
	</bean>
	
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	-->
	<!-- 로그인 세션 관리 API -->
	<bean id="adminSessionService" class="com.mobilepark.doit5.login.service.AdminSessionServiceImpl" />
		
	<!-- CMS 관리 API -->
	<bean id="adminService" class="com.mobilepark.doit5.admin.service.AdminServiceImpl" />
	
	<bean id="codeService" class="com.mobilepark.doit5.admin.service.CodeServiceImpl" />
	
	<bean id="energyService" class="com.mobilepark.doit5.admin.service.EnergyServiceImpl" />
	
	<bean id="AdminGroupService" class="com.mobilepark.doit5.admin.service.AdminGroupServiceImpl" />

	<bean id="menuService" class="com.mobilepark.doit5.admin.service.MenuServiceImpl" />

	<bean id="authenticationManager" class="com.mobilepark.doit5.cms.auth.CmsAuthenticationManager" />

	<bean id="RouteRuleService" class="com.mobilepark.doit5.route.service.RouteRuleServiceImpl" />

	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////	-->

	<!-- HTTP / REST 연동 API -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate"
		p:requestFactory-ref="httpClientFactory" />
		
	<bean id="httpClientFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory"
		p:readTimeout="10000"
		p:connectTimeout="10000" />

	<!-- 게시판 관리 API === SERVICE/DAO-->
	<bean id="boadNoticeService" class="com.mobilepark.doit5.board.service.BoadNoticeServiceImpl" />
	<bean id="appVerService" class="com.mobilepark.doit5.board.service.AppVerServiceImpl" />


	<!-- Member API -->
	<bean id="memberService" class="com.mobilepark.doit5.customer.service.MemberServiceImpl" />

	<!-- Company API -->
	<bean id="companyService" class="com.mobilepark.doit5.company.service.CompanyServiceImpl" />

</beans>