<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>evc-admin</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>loggerName</param-name>
    <param-value>com.hans.sses</param-value>
  </context-param>
  <context-param>
    <param-name>configFile</param-name>
    <param-value>/evc-admin.properties</param-value>
  </context-param>
  <listener>
    <display-name>TraceLogInitialize</display-name>
    <listener-class>com.hans.sses.web.TraceLogInitializeListener</listener-class>
  </listener>
  <listener>
    <display-name>EnvLoader</display-name>
    <listener-class>com.hans.sses.web.EnvLoaderListener</listener-class>
  </listener>
  <listener>
    <display-name>SpringContextLoader</display-name>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <display-name>LoginSessionListener</display-name>
    <listener-class>com.hans.sses.cms.listener.LoginSessionListener</listener-class>
  </listener>
  <!-- TODO 세션클리어 막기 나중에 다시 열어야됨 -->
  <!-- <listener>
    <display-name>SessionClearListener</display-name>
    <listener-class>SessionClearListener</listener-class>
  </listener> -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.xml</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.mobile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>skt-evc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>skt-evc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <error-page>
    <error-code>400</error-code>
    <location>/error/noneServicePage.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error/sessionOut.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/noneServicePage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/noneServicePage.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error/noneServicePage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/internalErrorPage.jsp</location>
  </error-page>
</web-app>