body {margin:0;font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif; }
td { font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif; }
input[type="text"] { font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif; width:200px; }
input[type="password"] { width:200px; }
select { font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif ; width:210px; }
textarea { font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif; width:99%; height:100px; }
strong, b { font-weight:bold !important; }
a:link { color:#000000; text-decoration:none }
a:visited { color:#000000; text-decoration:none }
a:hover { color:#000000; text-decoration:none }
a:active { color:#CC0000; text-decoration:none }
table.searchTbl { 
	margin:0 auto;
	border:0px;
	padding:1px;
	border-collapse:collapse;
	border-spacing:0;
}
table.simple td.label {
	width:150px;
	background-color:#f0f0f0;
	font-weight:bold;
}
table.info {
	width:100%;
	padding:0;
	border-spacing:0px;
	border:0;
	border-collapse:collapse;
}
table.info > td {
	padding:0px;
}
tr.line-top {
	background-color:#678f08;
	height:2px;
}
tr.line-bottom {
	background-color:#cccccc;
	height:1px;
}
tr.line-bottom > td {
	padding:0px;
	height:1px;
}
tr.line-dot {
	background:#e2e2e2;
	height:1px;
}
tr.line-solid {
	background-color:#cccccc;
	height:1px;
}
tr.line-solid > td {
	padding:0px;
	height:1px;
}
tr.line-dot > td {
	border:0px;
	padding:0px;
}
tr.info {
	border:1px;
}
tr.info > td.label {
	height:25px;
	width:130px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#cccccc;
}
tr.info > td.data {
	height:25px;
	padding-right:3px;
	padding-left:3px;
}
td.checkbox {
	height:25px;
	width:20px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#cccccc;
}
td.last_version {
	font:bold;
	color:red;
}
td.important {
	font:bold !important;
	color:red !important;
}
td.line-clear { padding:0px; height:10px; }
/*
input[type="button"], input[type="submit"] {
	font-size:12px !important;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif !important;
	font-weight:normal !important;
	padding:0em 0em !important;
	width:80px !important;
	height:25px !important;
	color:white !important;
	background-color:#ffbb00 !important;
	border-left:solid 1px #919191;
	border-top:solid 1px #919191;
	border-right:solid 1px #919191;
	border-bottom:solid 1px #919191;
	cursor:pointer;
}
*/
input[type="button"]:hover, input[type="submit"]:hover {
	/*background:#ff5e00 !important; color:white;*/
	background:#212121 !important; color:white;
}
input.error, textarea.error, div.error {
	border:1px dashed #ff5e00;
	background-color:#ffbb00;
	color:white;
}
label.error {
	/* margin-left:10px; */
	display:block;
	color:#ff5e00;
	font-size:12px !important;
}
fieldset.searchBoxStat {
	background-color:#ededed;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(204, 204, 204);
	padding-top:8px;
	padding-bottom:8px;
}
fieldset.searchBox {
	-webkit-border-radius:0px;
    -webkit-margin-start:0px;
    -webkit-margin-end:0px;
    -moz-border-radius:0px;
	-moz-margin-start:0px;
    -moz-margin-end:0px;
	-ms-border-radius:5px;
	-ms-margin-start:0px;
    -ms-margin-end:0px;
	-o-border-radius:0px;
	-o-margin-start:0px;
    -o-margin-end:0px;
	-khtml-border-radius:0px;
	-khtml-margin-start:0px;
    -khtml-margin-end:0px;
    border-radius:0px;
	margin-start:0px;
    margin-end:0px;
    background-color:#EDEDED;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	border-color:rgb(204, 204, 204);
	padding-top:8px;
	padding-bottom:8px;
	text-align:center;
}
fieldset.legend {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#EDEDED;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	padding:8px;
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
}
fieldset.guide {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#F2F2F2;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	padding:3px;
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:5px;
}
table.wrap00 { width:944px; }
div.wrap00 { width:944px; }
div.wrap02 { width:640px; }
div.line-blank { padding:0px; height:4px; }
div.line-clear { padding:0px; height:10px; }
div.error {	color:red; }
div.summary {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#EDEDED;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	padding:8px;
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
	margin-top:5px;
}
div.footer {
	text-align:right;
	border-top-color:#cccccc;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:5px;
	width:100%;
}
button.search {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:82px;
	height:28px;
	color:white;
	vertical-align:top !important;
	background-color:#919191;
	border-left:solid 1px #919191;
	border-top:solid 1px #919191;
	border-right:solid 1px #919191;
	border-bottom:solid 1px #919191;
}
button.search:hover {
	background-color:#575757; color:white; cursor:pointer;
}
button.command {
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	width:80px;
	height:33px;
	background-image:linear-gradient(top, #D8FCFF 0%, #5BA9E0 37%, #5FC7F7 90%);
	background-image:-o-linear-gradient(top, #D8FCFF 0%, #5BA9E0 37%, #5FC7F7 90%);
	background-image:-moz-linear-gradient(top, #D8FCFF 0%, #5BA9E0 37%, #5FC7F7 90%);
	background-image:-webkit-linear-gradient(top, #D8FCFF 0%, #5BA9E0 37%, #5FC7F7 90%);
	background-image:-ms-linear-gradient(top, #D8FCFF 0%, #5BA9E0 37%, #5FC7F7 90%);
	background-image:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D8FCFF),
		color-stop(0.37, #5BA9E0),
		color-stop(0.9, #5FC7F7)
	);
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	cursor:pointer;
}
button.command:hover {
	color:red;
}

/* widget css overriding */
.ui-widget {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif !important; font-size:12px !important;
}
.ui-datepicker-week-end {
	color:red !important;
}

.productpage { background:transparent url(/images/icon_list1.gif) repeat-x 0 -201px; }
.entrypoint { background:transparent url(/images/icon_list2.gif) repeat-x 0 -201px; }

.title01 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:5px;
	font-style:normal;
	font-variant:normal;
	padding-top:2px;
}
.title02 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	color:#666666;
	padding-left:10px;
}
.link01 {
	color:white !important;
	cursor:pointer;
}
.link01:hover {
}
.box01 {
	height:8px;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#cccccc;
}
.box02 {
	padding-right:8px;
	padding-left:8px;
	border-right-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#cccccc;
	border-left-color:#cccccc;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
}
.box03 {
	height:8px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;

}
.td00 {
	width:120px !important;
	text-align:left !important;
}
.td01 {
	height:29px;
	width:180px !important;
	background-color:#EDEDED !important;
	border-right-width:0px;
	border-right-style:solid;
	border-right-color:#cccccc;
}
.td02 {
	padding-right:3px;
	padding-left:3px;
}
.td03 {
	padding-right:3px;
	padding-left:3px;
	border-right-width:1px;
	border-left-width:1px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#cccccc;
	border-left-color:#cccccc;
}
.td04 {
	padding-right:13px;
	padding-bottom:5px;
	padding-left:13px;
	line-height:17px;
}
.td05 {
	padding-right:5px;
	padding-left:5px;
}
.td06 {
	padding:2px 4px 2px 4px;

	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#a6be83;

	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#a6be83;

	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#a6be83;

	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#a6be83;
}
.td07 {
	padding:2px 2px 2px 2px;
}
.td08 {
	text-align:left; 
	padding-left:10px;
}
.td09 {
	background-color:#F2F2F2 !important;
}
.tab00 {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:82px;
	height:20px;
	color:#000000 !important;
	text-align:center;
	background-color:#ffffff;
	border-left:solid 1px #000000;
	border-top:solid 1px #000000;
	border-right:solid 1px #000000;
	border-bottom:solid 1px #ffffff;
}
.tab01 {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:80px;
	height:20px;
	color:#ffffff !important;
	text-align:center;
	background-color:#ffbb00;
	border-left:solid 1px #919191;
	border-top:solid 1px #919191;
	border-right:solid 1px #919191;
	border-bottom:solid 1px #919191;
}
.tab01:hover {
	background-color:#ff5e00; color:white;
}
.btn00 {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:82px;
	height:20px;
	color:#000000 !important;
	text-align:center;
	border-left:solid 1px #000000;
	border-top:solid 1px #000000;
	border-right:solid 1px #000000;
}
.btn01 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	width:80px;
	height:22px;
	background-image:url(/images/button/btn_bg_t1.gif);
	text-align:center;
	padding-top:1px;
}
.btn02 {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:80px;
	height:20px !important;
	color:#ffffff !important;
	text-align:center;
	background-color:#919191 !important;
	border-left:solid 2px #ffffff;
	border-top:solid 2px #ffffff;
	border-right:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.btn02:hover {
	background-color:#575757 !important; color:white;
}
.btn03 {
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	width:80px;
	height:20px !important;
	color:#ffffff !important;
	text-align:center;
	background-color:#919191 !important;
	border-left:solid 2px #ffffff;
	border-top:solid 2px #ffffff;
	border-right:solid 2px #ffffff;
	border-bottom:solid 2px #ffffff;
}
.btn03:hover {
	background-color:#575757 !important; color:white;
}
.btn04 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	width:80px;
	height:22px;
	background-image:url(/images/button/btn_bg_t4.gif);
	text-align:center;
	padding-top:1px;
}
.btn05 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	width:80px;
	height:22px;
	background-image:url(/images/button/btn_bg_t5.gif);
	text-align:center;
	padding-top:1px;
}
.style01 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#FF6600;
}
.style02 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#0066cc;
}
.style03 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#ad5dff;
}
.style04 {
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#666666;
}
.subtitle {
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#E4E4E4;
}
.body01 {
	line-height:17px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
}
.topmenu {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-style:normal;
	color:#FFFFFF;
	padding-top:15px;
	width:95px;
}
.topmenu1 {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	font-style:normal;
	color:#FFFFFF;
	padding-top:15px;
	padding-right:5px;
	padding-left:5px;
}
.actor {
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;
	font-size:12px;
	color:#FFFFFF;
	padding-left:10px;
	width:203px;
}
.upline {
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#cccccc;
}
.lif {
	text-align:left;
}
.lef { text-align:left; }
.cen { text-align:center; }
.rig { text-align:right; }
.b { font-weight:bold; }
.mmenu { padding-top:3px; cursor:pointer; }
.smenu { color:#737373; font-size:12px; line-height:120%; cursor:pointer;  }
.input_box {
	border-top:#ADADAD 1px solid;
	border-right:#ADADAD 1px solid;
	border-bottom:#ADADAD 1px solid;
	border-left:#ADADAD 1px solid;
	scrollbar-face-color:#CFCFCF;
	scrollbar-base-color:#CFCFCF;
	scrollbar-shadow-color:#ADADAD;
	scrollbar-3dlight-color:#ADADAD;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	font-size:12px;
	font-family:"Arial", "Verdana";
	height:19px;
	background-color:#FFFFFF;
	padding-top:2px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:2px;
}
.preview_btn {
	width:80px !important;
	height:17px !important;
	top:0px;
	left:294px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif !important;
	font-weight:normal !important;
	padding:0.3em 0em 0em 0em !important;
	border:0 !important;
	color:white !important;
	background-color:#919191 !important;
	border-left:solid 1px #919191;
	border-top:solid 1px #919191;
	border-right:solid 1px #919191;
	border-bottom:solid 1px #919191;
	cursor:pointer;
	float:right;
}
.preview_btn:hover {
	background-color:#575757 !important; color:white;
}
.file_input_div {
	position:relative;
	width:375px;
	height:22px;
}
.file_input_hidden {
	position:absolute;
	width:90px;
	left:0px;
	top:0px;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-khtml-opacity:0;
	-moz-opacity:0;
}
.file_input_hidden:hover {
	cursor:pointer;
}
.file_input_textbox {
	position:absolute;
	width:200px;
	height:15px;
	top:0px;
	left:84px;
}
.line-top {
	background-color:#678f08;
	height:2px;
	padding:0px;
	margin:0px;
}
.line-bottom {
	background-color:#cccccc;
	height:1px;
	padding:0px;
	margin:0px;
}
.line-dot {
	background-image:url("/images/default/bg_line.gif");
	height:1px;
}
.info > label {
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	width:130px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#cccccc;
}
.button {
	font-size:12px !important;
	font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif !important;
	font-weight:normal !important;
	padding:0em 0em !important;
	width:100px !important;
	height:25px !important;
	color:white !important;
	background-color:#ffbb00 !important;
	border-left:solid 1px #919191;
	border-top:solid 1px #919191;
	border-right:solid 1px #919191;
	border-bottom:solid 1px #919191;
	cursor:pointer;
}
.button:hover {
	background-color:#ff5e00 !important; color:white;
}
.list-ul { list-style:none; float:left; margin:0px; }
.list-li { width:100%; }

ul.title-ul { padding:0; margin:0 0 9px 0px; list-style:none; }
ul.title-ul > li { width:auto; float:left; }
ul.title-ul > li > a { color:#4c8fbd; font-weight:bold; }

#fromDate, #toDate { font-size:12px; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif; }
#menuText { font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif !important; font-weight:normal; }

.hide { position:absolute;top:-9999px;left:-9999px; }

.bgC { background-color:#d4f4fa !important; }
.fwB { font-weight:bold !important; }

.example { display:block; color:#ff0000; }
.tooltip-inner { text-align:left !important; min-width:200px; max-width:400px; }
.tooltip01 { color:#4683ea !important; font-weight:bold; }
.weighty { width:80% !important; }
.linkopen { text-decoration:underline; cursor:pointer; }


#loginWrap .loginField {padding-top:150px;}
#loginWrap .blind {display:block;overflow:hidden;visibility:hidden;position:absolute;top:-1000em;left:0}
#loginWrap .loginField fieldset {position:relative;width:368px;height:125px;padding:85px 0 0 66px;margin:0 auto;border:0 none;background:url(../images/login/bg_login.jpg) no-repeat;}
#loginWrap .loginField img {border:0 none;vertical-align:top;}
#loginWrap .loginField legend{display:block;overflow:hidden;visibility:hidden;position:absolute;top:-1000em;left:0}
#loginWrap .loginField label{cursor:pointer}
#loginWrap .loginField .inputTxt {width:162px;height:18px;padding:0 3px;margin:0;border-top:1px solid #7c7c7c;border-left:1px solid #7c7c7c;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;line-height:18px;}
#loginWrap .loginField .id label {display:inline-block;width:51px}
#loginWrap .loginField .pw {padding:4px 0 0 0;}
#loginWrap .loginField .pw label {display:inline-block;width:51px}
#loginWrap .loginField .idSave {padding:10px 0 0 54px;}
#loginWrap .loginField .idSave .inputCheck {margin:0;padding:0;}
#loginWrap .loginField .loginBtn {position:absolute;top:83px;right:65px;}
#loginWrap .copyright {width:512px;margin:0 auto;text-align:center;}

.img_preview{position:relative;height:210px;padding:10px 0 0 0;width:250px;overflow:hidden;zoom:1}
.img_preview .thum_list{overflow:hidden;position:relative;width:250px;height:260px}
.img_preview .thum_list ul{top:0}
.img_preview .thum_list ul li{float:left;width:250px;text-align:center}
.img_preview .thum_list ul li img{border:3px solid #fff}
.img_preview .btn_wrap{margin-top:-63px;text-align:center}
.img_preview .btn_wrap img{padding:0 2px}
.img_preview .left_btn{position:absolute;left:10px;top:190px}
.img_preview .right_btn{position:absolute;right:10px;top:190px}
.txtEntry_preview{width:220px;height:220px;/*background:url('../images/notification_ux/theme_big1.png') 0 0 no-repeat*/}
.txtEntry_preview div{width:220px;height:220px;text-align:center}
.txtEntry_preview div pre{margin:0;padding-top:95px;color:#333;font-family:'돋움',Dotum,sans-serif}

.page_system {width:710px;margin:0 auto;padding-top:114px;line-height:20px;}
.page_system a {display:inline-block;margin-left:30px;}
.page_system .txt_area {margin-top:12px;padding:60px 26px 0 26px;border-top:1px solid #dedede;}
.page_system .txt_area h1 {margin-bottom:34px;padding:0;}
.page_system .txt_area p {margin-bottom:40px;}
.page_system .txt_area ul {margin-bottom:33px;font-weight:bold;}
.page_system .txt_area ul em {font-style:normal;color:#f77b02;}
.page_system .txt_area ul li {margin-bottom:7px;padding-left:8px;background:url(../images/common/bul_orange.gif) no-repeat 0 7px;}

@media (max-width:767px){ body {padding-left:0px;padding-right:0px;} }
body {background:#f3f3f3;}

#header {min-width:1280px;background:#fff;border-bottom:1px solid #e2e2e2;}
#header:after {content:'';display:block;clear:both;}
#header h1 {float:left;padding:0;margin:0;font-size:12px;line-height:12px;}
#header h1 img {border:0 none;}
#header .userMenu {float:right;height:22px;padding:34px 14px 0 0;font-size:14px;color:#666;line-height:17px;text-align:right;}
#header .userMenu * {vertical-align:top;}
#header .userMenu .name,
#header .userMenu .info  {display:inline-block;padding-top:4px;}
#footer {border-top:1px solid #e2e2e2;background:#fff;}
#footer copyright {display:block;text-align:left;}
div.wrap00 {width:1010px;padding:0 40px 30px 40px;}
div.wrap02 {width:710px;padding-bottom:30px;}

/* Menu */
.ext-chrome,
.ext-gecko3 {background-color:#3b3b4a !important;}

.set_menu_tree {background:#f3f3f3 !important;}
.leftFrameMenu {width:200px !important;}
.leftFrameMenu .x-panel-body {background:transparent !important;}
.leftFrameMenu .x-tree-node-indent .x-tree-elbow-line,
.leftFrameMenu .x-tree-node-indent .x-tree-icon {width:5px;}
.leftFrameMenu .x-tree-node .x-tree-ec-icon {width:13px;background:none;}

.leftFrameMenu .x-tree-node-collapsed .x-tree-node-icon {width:25px;height:16px;background:url('../images/icons/left_menu_folder_off.png') no-repeat;}
.leftFrameMenu .x-tree-node-expanded .x-tree-node-icon {width:25px;height:16px;background:url('../images/icons/left_menu_folder_on.png') no-repeat;}
.leftFrameMenu .x-tree-node-leaf .x-tree-node-icon {width:25px;height:16px;background:url('../images/icons/left_menu_file.png') no-repeat;}

.leftFrameMenu .x-tree-node a span,
.leftFrameMenu .x-dd-drag-ghost a span {font-size:14px;color:#afafb4;line-height:17px;}
.leftFrameMenu .x-tree-node .x-tree-node-over {background:#c81b36 !important;}
.leftFrameMenu .x-tree-node .x-tree-node-over  a span {color:#fff !important;}
.leftFrameMenu .x-tree-node .x-tree-selected {background:#ad1f37 !important;color:#fff !important;font-weight:bold;}
.leftFrameMenu .x-tree-node .x-tree-selected a span {color:#fff !important;}

.leftFrameMenu .x-tree-node .x-tree-node-el {height:31px; padding:15px 0 0 0;border-bottom:1px solid #494957;}
.leftFrameMenu .x-tree-node .x-tree-node-el.x-tree-node-expanded {border-bottom:0;background:#e21734 !important;}
.leftFrameMenu .x-tree-node .x-tree-node-el.x-tree-node-expanded a span {color:#fff !important;font-weight:bold;}

.leftFrameMenu .x-tree-node .x-tree-node-ct {background:#c81b36 !important;}
.leftFrameMenu .x-tree-node .x-tree-node-ct .x-tree-node-el {height:30px;padding-top:12px;border:0;}
.leftFrameMenu .x-tree-node .x-tree-node-ct .x-tree-selected {background:#ad1f37 !important;font-weight:normal;}
.leftFrameMenu .x-tree-node .x-tree-node-ct .x-tree-selected a span {font-size:12px;color:#fff !important;font-weight:bold;}
.leftFrameMenu .x-tree-node .x-tree-node-ct .x-tree-node-el a span {font-size:12px;color:#fff !important;}
.leftFrameMenu .x-tree-node .x-tree-node-ct .x-tree-node-el.x-tree-node-expanded {background-image:none !important;}

/* Content Title Area */
.contentTitleArea {width:1010px;padding:10px 40px 0 30px;}
.contentTitleArea:after {content:'';display:block;clear:both;}
#contentTitle {float:left;}
#contentTitle h2 {padding-top:22px;font-size:16px;color:#333;line-height:21px;}
#menuText {float:right;padding-right:7px;}
#menuText ul.title-ul {margin:0;padding:25px 0 0 0;}
#menuText .icon-home {background:url('/images/icons/home.png') 0 0 no-repeat !important;}
#menuText ul.title-ul > li > a {color:#3b3b4a;}

/* Mein */
.main .alert {margin-bottom:15px !important;}

.main .infobox-container {width:1010px;}
.main .infobox-container:after {content:'';display:block;clear:both;}
.main .infobox {width:324px !important;}
.main .infobox-pink {width:323px !important;}

@media only screen and (max-width: 460px) {
.main .infobox {min-width:324px !important;margin:-1px 0 0 -1px !important;}
.main .infobox-pink {min-width:323px !important;}
}
.main .mainGraphSection {margin-top:15px;}
.main .mainGraphSection:after {content:'';display:block;clear:both;}
.main .mainGraphSection .box1 {float:left;width:497px;margin-right:16px;background:#fff;}
.main .mainGraphSection .box2 {float:left;width:497px;background:#fff;}

/* Content */
fieldset.searchBox {border-color:#e2e2e2 !important;background:#fff !important;}
fieldset.searchBox td {color:#627f94;text-align:left;}
fieldset.searchBox button.search {width:auto;height:auto;border:1px solid #64bfd8;background:#4dc6e8;}
fieldset.searchBox button.search:hover {background:#1f9ec2;}
table.simple {margin:10px 0 0 0 !important;border-top:2px solid #757380;}
table.simple thead tr th {border:0 none !important;background:#f9f9f9 !important;color:#666;padding:12px 4px;}
table.simple tfoot td {border-color:#b8d4e4 !important;background:#d9eefa !important;color:#627f94;}
table.simple td {height:40px;color:#666 !important;border-bottom-color:#e2e2e2;}
table.simple tr:last-child td {border-bottom:1px solid #e2e2e2;}
table.simple tr.even td {background:#f9f9f9;}
#cmsMenuFunction tr:last-child td {border-bottom:1px solid #e1e8f1;}
table.tbl_type2 thead tr th:last-child {width:130px;}
table.tbl_type3 thead tr th:last-child {width:200px;}

tr.line-top {background-color:#757380;}
tr.line-bottom {background-color:#c4cdd4;}
.list-button-noti {padding:15px 5px 3px 0;background:#fff;color:#627f94;text-align:right;}
.td01 {height:40px;padding-left:10px;font-weight:bold;background:#f9f9f9 !important;color:#666;}
.td02 {padding:5px 15px;background:#fff;color:#666;}
.bul_dot1 {font-size:8px;}
.td01 .bul_dot1 {display:none;}

span.pagebanner {padding:5px 0 4px 0;text-indent:6px;font-family: '나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;color:#666;}
span.pagelinks {padding:2px 0 23px 0;margin:0;border-bottom:1px solid #c4cdd4;font-family: '나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif;color:#666;}
div.line-clear {height:0px;}

.ui-state-default {border-color:#757380;box-shadow:none;background:#fff;color:#757380;}
fieldset.searchBox .ui-state-default,
div.footer .ui-state-default {box-shadow:none;font-weight:bold;color:#fff;background:#757380 !important;}
input[type="button"]:focus, input[type="submit"]:focus {border-color:#757380;}
input[type="button"]:hover, input[type="submit"]:hover {color:#fff;background:#757380 !important;}
div.footer {border:0;text-align:left;}
div.footer .btn_red {box-shadow:none;font-weight:bold;color:#fff;border-color:#e21734 !important;background:#e21734 !important;}


/* Content / 메뉴관리 */
.menuAdminTree {margin-left:30px;}
.x-panel-tl {display:none;}
.x-panel-ml {padding-left:0 !important;border-top:2px solid #2ab3da;background:#fff !important;}
.x-panel-mr {background:none !important;padding-right:0 !important;}
.x-panel-mc {padding-top:0 !important;background:transparent !important;}
.x-panel-mc .x-panel-body {width:710px !important;padding:0 !important;}
.x-form-item {margin-bottom:0 !important;padding-bottom:1px;background:#f3f3f3 url("/images/default/bg_line.gif") 0 bottom repeat-x;}
.x-form-item label.x-form-item-label {margin-bottom:0;padding:10px 0 9px 10px !important;background:#f5f9ff;color:#627f94;}
.x-form-element {padding-left:206px !important;padding-top:5px;padding-bottom:5px;background:#fff;}
.ext-strict .x-form-text {height:18px !important;padding:4px;}
.x-panel-body .x-form-item:nth-child(4) {background:#c4cdd4;}
.x-panel-bl, .x-panel-br {background:none !important;border:0 !important;}
.x-panel-bc {background:none !important;}
.x-panel-btns td.x-toolbar-cell {padding:0 !important;}
.x-btn-text {display:inline-block;position:relative;padding:.4em 1em !important;border-radius:4px;border:1px solid #757380 !important;background:#757380 !important;color:#fff !important;}
.x-panel-bc .x-panel-footer {padding-top:10px !important;}
.x-btn-noicon .x-btn-small .x-btn-text {height:auto !important;}
.x-btn-noicon .x-btn-small .x-btn-text:hover {background:#757380 !important;}
.x-btn-tl,.x-btn-tc,.x-btn-tr,.x-btn-bl,.x-btn-bc,.x-btn-br {width:0 !important;height:0 !important;background:none !important;}
.x-btn-ml,.x-btn-mr {width:0 !important;background:none !important;}
.x-btn-tl i,.x-btn-tr i,.x-btn-ml i,.x-btn-mr i,.x-btn-bl i,.x-btn-br i {display:none !important;}
.x-btn-noicon {width:auto !important;}
input.ui-button {padding:.4em !important;}

/* Layer datepicker */
.ui-datepicker .ui-datepicker-buttonpane button {border-color:#e21734;background:#fff;color:#e21734;}
.ui-datepicker .ui-datepicker-buttonpane button:hover {background:#e21734 !important;color:#fff !important;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {border-color:#757380;color:#757380;background:#fff;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:hover {color:#fff !important;background:#757380 !important;}
.ui-datepicker-header {background:#e21734 !important;border:1px solid #e21734 !important;}

.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {width:0.5em !important;background:#757380 !important;}
.ui_tpicker_time_label {font-weight:normal !important;}
.ui-datepicker-calendar .ui-state-default {text-align:center;border:0 none !important;background:#f9f9f9 !important;}

.ui-datepicker .ui-datepicker-prev span {margin-left: -3px !important;margin-top: -4px !important;background:url(../images/icons/prev_datepicker.gif) no-repeat 0 0 !important;}
.ui-datepicker .ui-datepicker-next span {margin-left: -3px !important;margin-top: -4px !important;background:url(../images/icons/next_datepicker.gif) no-repeat 0 0 !important;}

.ui-datepicker-calendar .ui-state-highlight, 
.ui-datepicker-calendar .ui-widget-content .ui-state-highlight, 
.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {background-image:none !important;background:#e21734 !important;color:#fff !important;}

/* Layer datepicker - month
.mtz-monthpicker .ui-state-default {padding:4px 3px !important;text-align:center;background:#fff !important;border:0 none;cursor:pointer !important;}
.mtz-monthpicker .ui-state-default .txt_month {display:block;height:24px;margin-bottom:-20px;padding:0 !important;text-align:center;color:#757479;line-height:24px;border:1px solid #757479;border-radius:3px;}
.mtz-monthpicker .ui-state-default.ui-state-active {color:#fff !important;}
.mtz-monthpicker .ui-state-default.ui-state-active .txt_month {border:1px solid #757380 !important;background:#757380 !important;font-weight:normal;color:#fff;}
.wrap_monthpicker {padding:4px 2px;}
.wrap_monthpicker table {margin:0 !important;}
.wrap_monthpicker select {width:238px !important;margin:6px 0 6px 0 !important;}
.ui-datepicker-header.mtz-monthpicker  {height:24px !important;line-height:24px !important;}
 */

.mtz-monthpicker .ui-state-default {overflow:hidden;height:24px;margin-bottom:-20px;padding:0 !important;text-align:center;color:#757479;line-height:24px;border:1px solid #757479;border-radius:3px;background:#fff;cursor:pointer;}
.mtz-monthpicker .ui-state-default.ui-state-active {border:1px solid #757380 !important;background:#757380 !important;font-weight:normal;color:#fff;}
.wrap_monthpicker {padding:4px 2px;}
.wrap_monthpicker table {margin:0 !important;border-collapse: separate !important;border-spacing:4px !important;}
.wrap_monthpicker select {width:238px !important;margin:6px 0 6px 0 !important;}
.ui-datepicker-header.mtz-monthpicker  {height:24px !important;line-height:24px !important;}

/* Layer Popup */
#popup_container {border:2px solid #d8d8d8;}
#popup_title {display:none;}
#popup_content {padding:50px 20px 15px 20px;background-position:center 10px;}
#popup_message {padding-left:0;text-align:center;}
#popup_panel {margin-left:0;}
.ui-dialog {padding-bottom:7px;border:2px solid #d8d8d8;}
.ui-dialog .ui-dialog-buttonpane {margin-top:0;padding:0;border-top:0;text-align:center;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none;}
.ui-dialog .ui-dialog-titlebar-close {display:none;}
.ui-widget-header {border:0 none;background:#757380;color:#fff;}
#selectOsWidget,
#selectStatusWidget {min-height:1px !important;padding:15px 20px 10px 20px;text-align:center;}
#changePassword {min-height:1px !important;padding:15px 20px 8px 20px;}
#changePassword table {m argin:0 auto;}
#changePassword table td {padding-top:5px;padding-bottom:5px;}
#changePassword table tr.line-dot td {padding:0;}
#changePassword table .line-bottom {background-image: url("/images/default/bg_line.gif");background-color:transparent;}
#changePassword table .line-bottom td {padding:0;}
#changePassword div {margin-top:-5px;text-align:center;}
.ui-dialog .ui-state-default {border:1px solid #757380;background:#757380;color:#fff;}

#loginWrap .loginField {height:370px;padding-top:0;margin-top:172px;background:#eee url('../../images/login/bg_login2.gif') center center no-repeat;}
#loginWrap .loginField fieldset {width:260px;padding:130px 0 0 0;background:url('../../images/login/logo.png') center 51px no-repeat;}
#loginWrap .loginField .pw {padding-top:8px;}
#loginWrap .loginField .idSave {position:relative;padding:10px 0 0 0;text-align:right;}
#loginWrap .loginField .idSave * {vertical-align:top;}
#loginWrap .loginField .idSave label {color:#666;}
#loginWrap .loginField .id, 
#loginWrap .loginField .pw {width:258px;height:38px;padding:0;border:1px solid #ccc;background-color:#fff;}
#loginWrap .loginField .id {margin-bottom:10px;}
#loginWrap .loginField .id label, 
#loginWrap .loginField .pw label {width:88px;height:38px;padding-left:18px;font-size:14px;line-height:38px;color:#999;vertical-align:top;background-color:transparent;}
#loginWrap .loginField .inputTxt {width:119px;height:38px;padding:0 19px 0 10px;line-height:38px;color:#333;border:0 none;background:#fff !important;}
#loginWrap .loginField .loginBtn {left:0;top:260px;width:260px;height:40px;background:#e21734;font-size:16px;color:#fff;text-align:center;line-height:40px;}
#loginWrap input[type="checkbox"]:checked, #loginWrap input[type="checkbox"]:focus {outline:none !important;}

/* dialog */
#previewPushAndroid .container {width:auto !important;}
#previewPushAndroid .row {margin-left:0 !important;}
#previewPushAndroid .span1,
#previewPushAndroid .span2,
#previewPushAndroid .span3,
#previewPushAndroid .span4,
#previewPushAndroid .span5,
#previewPushAndroid .span6,
#previewPushAndroid .span7,
#previewPushAndroid .span8,
#previewPushAndroid .span9,
#previewPushAndroid .span10,
#previewPushAndroid .span11,
#previewPushAndroid .span12 {width:auto !important;margin-left:0 !important;}

.ui-draggable .ui-dialog-titlebar {height:50px;border-radius:0}
.ui-dialog .ui-dialog-title {font-weight:normal;font-size:20px;line-height:50px;}
.ui-dialog {padding:0;border:1px solid #757380;border-radius:0;}
.ui-dialog .ui-dialog-titlebar-close {display:block;width:20px;height:20px;right:1em !important;border-radius:0;background:url(../images/icons/btn_dialog_close.png) no-repeat 50% 50%;}
.ui-dialog .ui-dialog-titlebar-close .ui-state-default .ui-icon {background:none !important;}

/* dashboard */
.dashboard_area .link:hover { font-weight:bold; cursor:pointer; }
.dashboard_area .box-line { border:1px solid #d8d8d8; }
.dashboard_area .item_last {margin-right:0 !important;}
.dashboard_area .section_state {overflow:hidden;margin-bottom:22px;}
.dashboard_area .section_state .item_state {float:left;width:320px;margin-right:22px;border:1px solid #dfdfdf;background:#fff;}
.dashboard_area .section_state .stit {display:block;height:50px;padding-left:20px;font-weight:bold;font-size:16px;line-height:50px;color:#333;border-bottom:1px solid #dfdfdf;background:url(../images/icons/bul_array_1.jpg) no-repeat 292px 50%;}
.dashboard_area .section_state dl {float:left;width:33.3%;height:115px;margin:0;padding-top:22px;text-align:center;}
.dashboard_area .section_state dt {color:#818181;font-weight:normal;}
.dashboard_area .section_state dd {margin:0;}
.dashboard_area .section_state .ico {margin:10px 0 9px 0;font-weight:bold;border-right:1px solid #ececec;}
.dashboard_area .section_state .dl_last .ico {border-right:0 none;}
.dashboard_area .section_state .count {font-weight:bold;font-size:22px;}
.dashboard_area .section_info {overflow:hidden;margin-bottom:22px;}
.dashboard_area .section_info a {position:relative;float:left;width:280px;height:30px;margin-right:22px;padding:9px 20px;font-weight:bold;font-size:16px;line-height:30px;color:#333;border:1px solid #bcbcbc;background:#f3f3f3 url(../images/icons/bul_array_2.jpg) no-repeat 292px 50%;}
.dashboard_area .section_info a img {vertical-align:top;}
.dashboard_area .section_info a .count {position:absolute;right:50px;top:10px;font-size:20px;}
.dashboard_area .section_map {position:relative;overflow:hidden;height:525px;border:1px solid #bcbcbc;}
.dashboard_area .section_map .map_area {width:687px !important;height:525px;background:#fff;}
.dashboard_area .section_map .error_area {position:absolute;right:0;top:0;z-index:999;width:320px;height:525px;border-left:1px solid #bcbcbc;background:#fff;}
.dashboard_area .section_map .error_area .stit {display:block;height:50px;line-height:50px;padding-left:20px;color:#333;}
.dashboard_area .section_map .item_tbl {overflow-y:auto;height:443px;}
.dashboard_area .section_map .item_head {height:30px;line-height:30px;color:#666;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background:#f9f9f9;}
.dashboard_area .section_map .item_head strong {display:inline-block;width:32%;text-align:center;}
.dashboard_area .section_map .error_area  .item_tbl table {width:100%;}
.dashboard_area .section_map .error_area .item_tbl table thead {display:none;}
.dashboard_area .section_map .error_area .item_tbl table .tr_even td {background:#f9f9f9;}
.dashboard_area .section_map .error_area .item_tbl table tbody td {width:30%;height:23px;padding:9px 0 8px 0;text-align:center;border-bottom:1px solid #e2e2e2;}
.dashboard_area .section_map .error_area .item_tbl table tbody td.event {text-align:center;}
.dashboard_area .section_map .stit {font-size:16px;}


/* dashboard - 설치자 */
.dashboard_area2 .point_color {color:#e61632 !important;}
.dashboard_area2 .point_color2 {color:#21ad6a !important;}
.dashboard_area2 .link:hover { font-weight:bold; cursor:pointer; }
.dashboard_area2 .box-line { border:1px solid #d8d8d8; }
.dashboard_area2 .item_last {margin-right:0 !important;}
.dashboard_area2 ul, .dashboard_area2 ol {list-style:none;margin:0;padding:0;}
.dashboard_area2 .section_month {margin-bottom:20px;border:1px solid #dfdfdf;background:#fff;}
.dashboard_area2 .section_month ol {overflow:hidden;}
.dashboard_area2 .section_month ol li {overflow:hidden;float:left;width:33.3%;height:137px;text-align:center;}
.dashboard_area2 .section_month .stit {display:block;height:50px;padding-left:20px;font-weight:bold;font-size:16px;line-height:50px;color:#333;border-bottom:1px solid #dfdfdf;background:url(../images/icons/bul_array_1.jpg) no-repeat 988px 50%;}
.dashboard_area2 .section_month .tit_month {float:left;width:157px;color:#818181;}
.dashboard_area2 .section_month .tit_month strong {display:block;width:120px;height:26px;margin:56px auto 4px auto;font-weight:normal !important;line-height:26px;color:#818181;background:#f3f3f3;border-radius:13px;}
.dashboard_area2 .section_month .tit_month strong.current {font-weight:bold !important;}
.dashboard_area2 .section_month dl {overflow:hidden;float:left;width:67px;padding:20px 0 0 0;}
.dashboard_area2 .section_month dt {color:#818181;font-weight:normal;}
.dashboard_area2 .section_month dd {margin:0;}
.dashboard_area2 .section_month .ico {padding:10px 0 9px 0;font-weight:bold;}
.dashboard_area2 .section_month .dl_last {width:108px;}
.dashboard_area2 .section_month .dl_last .ico {border-right:1px solid #ececec;}
.dashboard_area2 .section_month .bd_none .ico {border-right:0 none !important;}
.dashboard_area2 .section_month .count {font-weight:bold;font-size:22px;}
.dashboard_area2 .section_state {overflow:hidden;margin-bottom:20px;}
.dashboard_area2 .section_state .item_state {float:left;width:493px;margin-right:20px;border:1px solid #dfdfdf;background:#fff;}
.dashboard_area2 .section_state .stit {display:block;height:50px;padding-left:20px;font-weight:bold;font-size:16px;line-height:50px;color:#333;border-bottom:1px solid #dfdfdf;background:url(../images/icons/bul_array_1.jpg) no-repeat 473px 50%;}
.dashboard_area2 .section_state dl {float:left;width:50%;height:115px;margin:0;padding-top:22px;text-align:center;}
.dashboard_area2 .section_state dt {color:#818181;font-weight:normal;}
.dashboard_area2 .section_state dd {margin:0;}
.dashboard_area2 .section_state .ico {margin:10px 0 9px 0;font-weight:bold;border-right:1px solid #ececec;}
.dashboard_area2 .section_state .dl_last .ico {border-right:0 none !important;}
.dashboard_area2 .section_state .count {font-weight:bold;font-size:22px;}
.dashboard_area2 .section_state .item_tbl {overflow:hidden;height:200px;padding:20px;}
.dashboard_area2 .section_state .item_tbl table {width:100%;border-top:2px solid #757380;}
.dashboard_area2 .section_state .item_tbl table .tr_even td {background:#f9f9f9;}
.dashboard_area2 .section_state .item_tbl th {width:140px;padding:12px 20px;font-size:12px;text-align:left;border-bottom:1px solid #e2e2e2;background:#f9f9f9;}
.dashboard_area2 .section_state .item_tbl td {width:30%;height:23px;padding:9px 0 8px 0;text-indent:15px;border-bottom:1px solid #e2e2e2;}
.dashboard_area2 .section_state .item_tbl td.charge {text-indent:25px;}
.dashboard_area2 .section_state .item_tbl td.event {text-indent:35px;}
.dashboard_area2 .section_state .item_tbl .no_data {padding-top:50px;text-align:center;color: #818181;}

.dashboard_area .section_map .map_area {width:687px !important;height:525px;background:#fff;}
/* .map_div {min-width:1100px;min-height:300px;background:#a3d69b;} */
.map_div {width:687px;min-height:300px;background:#a3d69b;}
.map_div .map_marker {width:26px;height:36px;padding-top:3px;text-align:center;color:#fff;font-weight:bold;box-sizing:border-box;cursor:pointer;} /* 20161216 추가 */
.map_div .marker_ready {background:url('../images/icons/map_marker_ready.png') no-repeat;} /* 20161216 추가 */
.map_div .marker_wait {background:url('../images/icons/map_marker_wait.png') no-repeat;} /* 20161216 추가 */
.map_div .map_marker:hover, /* 20161216 추가 */
.map_div .map_marker.active {background-position:0 -46px;} /* 20161216 추가 */

.map_div .tmPopup {overflow:visible !important;background:transparent !important;}
.map_div .tmPopup div {overflow:visible !important}
.map_div .tmPopupContent {padding:0;top:-35px;left:17px;}
.map_div .tmPopupContent .map_marker_tooltip {margin-left:8px;padding:4px 10px;border:1px solid #222;border-radius:2px;background-color:#fff;color:#222;}
.map_div .tmPopupContent .map_marker_tooltip:after {content:'';display:block;position:absolute;top:9px;left:0;width:9px;height:11px;background:url('../images/icons/map_tooltip_arrow.png') no-repeat;}

