@charset "utf-8";

.popupWrap{width:auto;padding:20px}
.popupWrap .listTable{margin-bottom:10px;}
.taC{text-align:center}
.mgBt15{margin-bottom:15px;}
.emphasis{font-weight:bold;color:#1a0e60}

/* 2013-10-30 시스템 점검 레이어 팝업 */
html, body {height:100%;}
.inp_area {height:48px;margin-bottom:20px;padding:23px 0 26px 12px;border-top:2px solid #000000;border-bottom:1px solid #e5e5e5;background-color:#f9f9f9;}
.pop_system {position:relative;height:100%;line-height:18px;background:url(../images/default/bg_popup.gif) repeat-x;}
.pop_system h1 {padding:42px 0 11px 27px;border-bottom:1px solid #dedede;}
.pop_system .txt_area {padding:28px;}
.pop_system .txt_area p {margin-bottom:18px;}
.pop_system .txt_area p.stit {font-weight:bold;}
.pop_system .txt_area ul {margin-bottom:17px;padding:22px 10px 15px 20px;font-weight:bold;border:1px solid #eaeaea;background-color:#f9f9f9;margin:0px;}
.pop_system .txt_area ul em {font-style:normal;color:#f77b02;}
.pop_system .txt_area ul li {margin-bottom:7px;padding-left:8px;background:url(../images/default/bul_orange.gif) no-repeat 0 7px;}
.pop_system .inp_area {position:absolute;left:0;bottom:0;overflow:hidden;width:100%;height:26px;margin-bottom:0;padding:15px 0 0 0;border:0 none;}
.pop_system .inp_area label {font-weight:normal;font-size:11px;cursor:pointer;}
.pop_system .inp_area input {margin-right:4px;}
.pop_system .inp_area .inp_left {float:left;margin-left:28px;}
.pop_system .inp_area .inp_right {float:right;margin-right:28px;}

/* 2016-12-05 윈도우 팝업 */
.wrap_winpop {width:100%;height:100%;}
.wrap_winpop button {padding:0;border:0 none;cursor:pointer;}
.wrap_winpop .point_color {color:#e21734 !important;}
.wrap_winpop .align_center {text-align:center !important;padding-left:0 !important;}
.wrap_winpop .header_area {position:relative;height:69px;color:#fff;background:#757380;}
.wrap_winpop .header_area .tit {margin:0;padding-left:20px;font-weight:normal;font-size:20px;line-height:69px;}
.wrap_winpop .content_area .search_area {position:relative;padding:20px 90px 0 20px;height:50px;border-bottom:1px solid #e2e2e2;}
.wrap_winpop .content_area .search_area .inp_text {display:block;width:100%;height:28px;text-indent:10px;line-height:28px;color:#666;border-radius:3px;border:1px solid #ccc;}
.wrap_winpop .content_area .search_area .btn_search {position:absolute;right:20px;top:20px;width:60px;height:30px;color:#fff;text-align:center;font-weight:bold;font-size:12px;line-height:30px;border-radius:3px;background:#757380;}
.wrap_winpop .content_area .search_area .btn_search:hover,
.wrap_winpop .content_area .search_area .btn_search:active {background:#3b3b4a;}
.wrap_winpop table {max-width: 100%;border-collapse: collapse;border-spacing: 0;background-color: transparent;}
.wrap_winpop .content_area .tbl_area {overflow:hidden;overflow-y:auto;height:288px;padding:20px 20px 0 20px;background:#fff;}
.wrap_winpop .content_area .tbl_area .tbl_type1 {width:100%;border-top:1px solid #757380;border-bottom:1px solid #e2e2e2;}
.wrap_winpop .content_area .tbl_area .tbl_type1 thead th {border-top:0 none;background:#f9f9f9;}
.wrap_winpop .content_area .tbl_area .tbl_type1 th,
.wrap_winpop .content_area .tbl_area .tbl_type1 td {padding:8px 0 7px 0;border-top:1px solid #e2e2e2;font-size:12px;color:#666;}
.wrap_winpop .content_area .tbl_area .tbl_type1 tbody td {padding-left:20px;}


